.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  max-width: 600px;
}
.app h1 {
  font-size: 25px;
  font-weight: bolder;
}
.calculator {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: stretch;
  width: 100%;
}
.formCol {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.colRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.colRow input {
  max-width: 65px;
  height: 35px;
  border: none;
  outline: none;
  padding-inline: 5px;
}
.colRow label {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: relative;
}
.flex-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.colRow .col-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.colRow p {
  font-size: 14px;
  line-height: 1;
}
.formCol button[type="submit"] {
  margin-top: auto;
  align-self: center;
  background-color: var(--red);
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
}
.inputCol {
  flex-direction: column;
  gap: 20px;
}
.result-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}
.result-col {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.result-col p {
  width: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: white;
}
.info-ico {
  width: 20px;
  object-fit: contain;
  cursor: pointer;
}
.info-text {
  position: absolute;
  z-index: 20;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  font-weight: 300;
  bottom: 120%;
  right: 0;
  display: none;
  cursor: pointer;
  width: 180px;
}
.info-ico:hover ~ .info-text {
  display: block;
}
.colRow select {
  width: 50%;
  height: 35px;
  border: none;
}
.accordian-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.accordian-div button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.accordian-div svg {
  width: 22px;
  transition: all 0.5s ease-in-out;
}
.acord-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  max-height: 0px;
  transition: all 0.5s ease-in-out;
}
.open-acord {
  max-height: 2000px;
  margin-top: 20px;
}
.top-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.colRow h6 {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 665px) {
  .top-label {
    align-items: flex-start;
  }
  .colRow label {
    font-size: 16px;
    text-align: left;
  }
  .colRow h6 {
    text-align: left;
  }
  .app h1 {
    font-size: 20px;
    text-align: center;
  }
  .result-div {
    flex-direction: column;
    gap: 30px;
  }
  .result-col {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .result-col h3 br {
    display: none;
  }
  .result-col h3 {
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    width: max-content;
  }
  .result-col p {
    font-size: 18px;
    width: max-content;
    min-width: 60px;
    padding-inline: 0;
    background-color: transparent;
    font-weight: bold;
  }
  .info-text {
    left: 100%;
    transform: translateX(-50%);
    right: initial;
  }
  .calculator {
    flex-direction: column;
    align-items: flex-start;
  }
  .inputCol {
    flex-direction: row;
    width: 100%;
  }
  .formCol {
    width: 100%;
  }
  .colRow {
    align-items: flex-start;
  }

  .flex-div {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .accordian-div {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .accordian-div button {
    width: 100%;
    justify-content: space-between;
  }
  .acord-bottom {
    width: 100%;
  }
}
